$background-color: #f6f8fa;

$box-shadow-dark: 2px 5px 15px rgba(0, 0, 0, 0.8);

$error-message-color: red;

$text-primary: #000000;
$text-secondary: #ffffff;
$text-third: #afadb5;

$button-primary-bg: #f5baa9;
$button-loading: #ec9178;
$button-active: #fd8b6b;

$input-text: #000000;
$input-bg: #ffffff;
$input-border: #ffffff;
$input-bg-focus: #ffffff;
$input-border-focus: #518581;
$input-text-focus: #000000;
$input-bg-disabled: #ffffff;
$input-border-disabled: #ffffff;

$card-bg: #ffffff;
$card-image-bg: #d9d9d9;

$dropdown-options-bg: #ffffff;

$button-primary-bg-hover: #caaea6;
// spaces
$space-xxxs: 4px;
$space-xxs: 8px;
$space-xs: 12px;
$space-s: 14px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 40px;
// height
$header-height: 300px;
