@import "styles/vars.scss";

.loupe {
  .fill_primary {
    fill: $text-primary;
  }
  .fill_secondary {
    fill: $text-secondary;
  }
  .fill_third {
    fill: $button-primary-bg;
  }
  .fill_default {
    fill: white;
  }
}
